.freetrial {
  @include media-prop(padding, 6.4rem, 6.4rem 3.2rem, 4.8rem 1.6rem);

  &__top {
    margin-bottom: 4rem;
    &-title {
      @include media-prop(font-size, 3.6rem, 3.6rem, 2.8rem);
      font-weight: 500;
      color: $--color-secondary;
      margin-bottom: 1.6rem;
    }
    &-text {
      @include media-prop(font-size, 1.8rem, 1.8rem, 1.6rem);
      font-weight: 300;
      color: $--color-secondary;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-input {
      background-color: #fff;
      outline: 1px solid transparent;
      padding: 2.5rem 2rem;
      border: 1px solid transparent;
      @include media-prop(width, 70%, 100%, 100%);
      @include media-prop(margin-bottom, "nil", 1rem, 1rem);
      border-radius: 1rem;
      box-shadow: $--box-shadow;
      -webkit-box-shadow: $--webkit-box-shadow;
      &::placeholder {
        font-size: 1.2rem;
      }
    }
    & .btn {
      margin: auto;
      @include media-prop(width, "", 100%, 100%);
    }
  }
}
