.home {
  &-features {
    @extend .header;
    @include media-prop(margin-top, "nil", 2.4rem, 2.4rem);
    @include media-prop(padding-bottom, 8rem, 6.4rem, 4.8rem);

    &__right {
      display: flex;
      gap: 3.2rem;
      &-item {
        & img {
          object-fit: contain;
          &:first-child {
            margin-bottom: 2rem;
          }
        }
      }
    }
  }
  &-add {
    padding-inline: 3.2rem;

    &__top {
      padding-top: 3.2rem;
      @include media-prop(flex-direction, row, column, column);
      gap: 3.2rem;
      display: flex;

      &-item {
        display: flex;
        align-items: center;
        white-space: nowrap;
        justify-content: space-between;
        
        margin: auto;

        &-img {
          margin-right: 0.8rem;
        }
        &-text {
          @include media-prop(font-size, 1.8rem, 1.8rem, 1.6rem);
          color: $--color-black-2;
        }
      }
    }
    &__bottom {
      padding-top: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      &-item {
        @extend .header__left__bottom-actions__item;
      }
    }
  }
  &-faq {
    &__top {
      margin-top: 2.4rem;
    }
    &__bottom {
      @extend .flex-center;
      flex-direction: column;
      margin-top: 4.2rem;
      &__content {
        @include media-prop(padding, 3.2rem, 2.4rem, 2.4rem);
        background-color: $--color-ternary;
        text-align: center;
        border-radius: 1rem;
        &-title {
          font-size: 2rem;
          color: $--color-secondary;
          margin-bottom: 1.2rem;
        }
        &-text {
          font-size: 1.4rem;
          color: $--color-secondary;
          max-width: 80%;
          margin: 0 auto 3.2rem;
        }
        & .btn {
          margin: auto;
          @include media-prop(width, "", 100%, 100%);
        }
      }
    }
  }
  &-blog {
    @include media-prop(margin, 6.4rem 11.2rem, 4.8rem 0, 3.2rem 0);
    &__top {
      display: grid;

      @include media-prop(grid-template-columns, repeat(3, 1fr), 1fr, 1fr);
      @include media-prop(gap, 3.2rem, 3.2rem, 1.6rem);
    }
    &__bottom {
      & .btn {
        margin: 3.2rem auto 0;
        @include media-prop(width, "", 100%, 100%);
      }
    }
  }
  &-freetrial {
    background-color: $--color-ternary;
    @extend.flex-center;
  }
  &-ourclients {
    @include media-prop(margin, 6.4rem 11.2rem, 4.8rem 3.2rem, 3.2rem);

    &__clientscontainer {
      display: grid;
      @include media-prop(
        grid-template-columns,
        repeat(4, 1fr),
        repeat(2, 1fr),
        1fr
      );
      gap: 3.2rem;
      max-width: 500px;
      justify-content: center;
      margin: auto;
    }
  }
}
